.header {
  margin: 92px 50px 105px;
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
  height: 90px;
}

.header__menu {
  align-items: center;
  display: flex;
}

.header__links-list {
  align-items: center;
  display: flex;
  gap: 32px;
  list-style: circle;
  padding-right: 47px;
}

.header__links-list-item {
  font-size: 18px;
  font-weight: 400;
  list-style: circle;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link,
.header__link_active {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}

.header__link {
  border-bottom: 1px solid black;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  align-self: center;
  display: block;
  height: 105px;
  width: 130px;
}

.header__logo-image {
  width: 100%;
}

.address {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: inherit;
  line-height: 1.35;
  width: 240px;
}

.header__address {
  font-style: inherit;
  justify-self: end;
}

.mail-address,
.phone-address {
  align-self: flex-start;
  border-bottom: 0.5px solid black;
  display: flex;
  text-decoration: none;
}

.text-link:hover {
  background-color: #000;
  color: #fff;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  height: 757px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 757px;
  z-index: 1;
}

.cover__title {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 165px;
  text-transform: uppercase;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
}

.aligned-text {
  margin-left: 50px;
}

.aligned-text_center {
  align-self: center;
  margin: 0 78px 0 110px;
}

.aligned-text_right {
  align-self: flex-end;
  margin-right: 20px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  margin: 105px 50px 0;
  padding-bottom: 50px;
}

.bet-button,
.cover__description-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.cover__description-text {
  align-items: center;
  display: flex;
  justify-content: start;
  word-spacing: 20px;
}

.bet-button {
  background: none;
  border: 1px solid #fff;
  display: flex;
  padding: 12px 32px;
}

.lots {
  flex-shrink: 0;
  margin: 180px 0 0;
  padding: 0 24px;
}

.lots__heading {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 27px;
  margin-left: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.lots__card-list-item {
  flex-grow: 1;
  max-width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 51px 40px 48px;
  position: relative;
  z-index: 1;
}

.card .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
  margin-top: 30px;
  text-decoration: none;
}

.lots__look-more-link-text {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.about {
  column-gap: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 155px 22px 184px 50px;
}

.about__column {
  display: contents;
}

.about__logo {
  background-color: #000;
  border-radius: 120px;
  display: flex;
  grid-column: 1;
  height: 240px;
  justify-self: center;
  width: 240px;
}

.about__title-and-text-wrapper {
  display: grid;
  grid-column: 2 / 4;
  height: 449px;
  margin: 101px 0 0 25px;
  row-gap: 30px;
  width: 693px;
}

.about__logo-image {
  align-self: center;
  display: grid;
  height: 114px;
  margin-left: 46px;
  width: 148px;
}

.about__title {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.about__text {
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  gap: 25px;
  line-height: 23px;
}

.about__text p {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 90px;
}

.footer__menu {
  align-content: start;
  display: grid;
  justify-items: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link {
  align-self: center;
  color: #000;
  display: grid;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
}