/* style.css */

/* Общие настройки для секций */
.header {
  padding: 92px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

/* Шапка */
.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  list-style: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

/* Обложка */
.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 1;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.cover__description {
  position: relative;
  z-index: 1;
  margin-top: 135px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  color: white;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Лоты */
.lots {
  padding: 180px 50px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1;
  min-width: 334px;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
  min-height: 563px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  color: white;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  border-bottom: 1px solid black;
  text-decoration: none;
}

/* Об аукционе */
.about {
  padding: 0 50px 180px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__column:first-child {
  display: flex;
  justify-content: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text p:first-child {
  margin-bottom: 25px;
}

/* Подвал */
.footer {
  padding: 180px 50px 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.footer .address {
  justify-self: start;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}